@font-face{
    font-family: BoschBold;
    src:url('./BoschSans-Bold.woff')
}
@font-face{
    font-family: BoschSans;
    src:url('./BoschSans-Regular.woff')
}
@font-face{
    font-family: BoschBlack;
    src:url('./BoschSans-Black.woff')
}
html{
    font-family: BoschSans;
}
html, body{
    height: 100%;
}

body{
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main";
    grid-template-rows: 1em auto;
    grid-template-columns: 10% auto;
    border: 1px solid black;
    margin: 0;
    
}

header{
    grid-area: header;
    text-align: center;
    border: 1px dotted blue;
    background-image: url('./supergfx.png');
    background-size:cover;
    
}

nav{
    grid-area: nav;
    border: 1px dotted red;
    background-color:rgb(64, 66, 69);
}

main{
    grid-area: main;
    border: 1px dotted green;
    display: grid;
    grid-template-areas: 
        "title title"
        "content content"
        "content content"
        "content content";
    grid-template-rows: min-content auto auto auto;
}

#logo{
    width: 95%;
    margin-left: 0.25em;
    margin-top: 0.25em;
}

h3{
    grid-area: title;
    text-align: center;
    border: 2px dotted brown;
    margin: 0;
    font-family: BoschBold;
}

article{
    border: 2px dotted pink;
}

a{
    color: rgb(225,225,226);
    text-decoration: none;
}

.link:hover{
    background-color: rgb(128, 130, 133);
    cursor: pointer;
}

.link{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}