@font-face{
    font-family: BoschBold;
    src:url('./BoschSans-Bold.woff')
}
@font-face{
    font-family: BoschSans;
    src:url('./BoschSans-Regular.woff')
}
@font-face{
    font-family: BoschBlack;
    src:url('./BoschSans-Black.woff')
}
html{
    font-family: BoschSans;
    color: rgb(64,66,69);
}

.app{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: grid;
    grid-template-rows: 0.25fr 10fr;
    grid-template-areas: 
        "header"
        "main";
}

.grid{
    display:grid;
    grid-template-columns: 1fr 8fr;
    grid-template-areas: 
        "nav content";
    height: 100%;
    grid-area: main;
}

.header-wrapper{
    grid-area: header;
    background-image:url('./supergfx.png');
    background-size:cover;
    color:rgb(241,241,241);
    text-align: right;
}

.nav-wrapper{
    grid-area: nav;
    background-color:rgb(64, 66, 69);
    text-align: center;
    font-size:0.95em;
}

.logo-wrapper{
    margin: 1em;
}

.logo{
   width:100%;
}

.link{
    cursor:pointer;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.link:hover{
    background-color: rgb(128,130,133);
    width: 100%;
}

a{
    color: rgb(241,241,241);
    text-decoration: none;
}

.content-wrapper{
    grid-area: content;
    border: 5px dotted pink;
}
.inner-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr;
    grid-template-areas: 
    "inner-header inner-header inner-header"
    "box box box"
    "box box box"
    "box box box";
    grid-gap: 1em;
    margin: 1em;
    align-items: center;
    border: 3px dotted red;
}

.inner-grid-header{
    grid-area: inner-header;
    border: 3px dotted;
    margin: 0.5em;
}

header{
    text-align: center;
    color: rgb(64,66,69);
    font-family: BoschBlack;
}

.inner-grid-box{
    border: 2px solid  rgb(64, 66, 69);
    margin: 0.5em;
}

.content-header{
    text-align: center;
    background-color: rgb(64, 66, 69);
    color:rgb(241,241,241);
    padding: 0.5em;
    font-family: BoschBold;
}
.content-main{
    border: 4px dotted green;
    background-color: beige;
    margin: 1em;
}

