.grid{
    display:grid;
    grid-template-columns: 0.75fr 8fr;
    grid-template-rows: 0.5fr 10fr 0.25fr;
    grid-template-areas: 
        "header header"
        "nav content"
        "footer footer";
    height: 100%;
}

.app{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height: 100%;
}

.nav-wrapper{
    grid-area: nav;
    background-color:rgb(64, 66, 69);
    text-align: center;
    font-size:0.95em;
    font-weight:bold;
}

.header-wrapper{
    grid-area: header;
    background-image:url('./supergfx.png');
    background-size:cover;
}
.footer-wrapper{
    grid-area: footer;
    background-image:url('./supergfx.png');
    background-size:cover;
}
.content-wrapper{
    grid-area: content;
}
.inner-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: 100%;
}

.inner-grid-box{
    border: 1px dotted red;
}

.header{
    text-align: center;
    color: rgb(241,241,241);
}

.link{
    cursor:pointer;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}
.link:hover{
    background-color: rgb(128,130,133);
    width: 100%;
}


a{
    color: rgb(241,241,241);
    text-decoration: none;
}
