@font-face{
    font-family: BoschBold;
    src:url('../util/fonts/BoschSans-Bold.woff')
}
@font-face{
    font-family: BoschSans;
    src:url('../util/fonts/BoschSans-Regular.woff')
}
@font-face{
    font-family: BoschBlack;
    src:url('../util/fonts/BoschSans-Black.woff')
}
html{
    font-family: BoschSans;
}
html, body{
    height: 100%;
}
body{
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main";
    grid-template-rows: 1em auto;
    grid-template-columns: 10em auto;
    margin: 0;
    background-color: rgb(225,225,226);
    
}
header{
    grid-area: header;
    text-align: center;
    background-image: url('../images/supergfx.png');
    background-size:cover;
    
}
nav{
    grid-area: nav;
    background-color:rgb(64, 66, 69);
}
main{
    grid-area: main;
    display: grid;
    grid-template-areas: 
        "title"
        "content";
    grid-template-rows: min-content auto;
}
.content{
    grid-area: content;
    justify-self: center;
    display: inline;
}
#logo{
    width: 95%;
    margin-left: 0.25em;
    margin-top: 0.5em;
}

h1{
    grid-area: title;
    text-align: center;
    margin: 0;
}
.link:hover{
    background-color: rgb(128, 130, 133);
    cursor: pointer;
}
.link{
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(225,225,226);
}
table{
    border-collapse: collapse;
    margin: 1em;
}
th{
    text-align: center;
    background-color: rgb(64, 66, 69);
    color: rgb(225,225,226);
    padding: 0.5em;
    
}
table, td{
    border: 2px solid rgb(64, 66, 69);
    background-color: rgb(241, 241,241);
    text-align: center;
}
#timeLinks{
    text-align: center;
    margin: 1em;
}
a{
    margin: 1em;
    color: rgb(0,59,106);
    text-decoration: none;
}
a:hover{
    color: rgb(0,20,42)
}